@import '@itwin/itwinui-css/scss/variables.scss';

.demo-mobile-navigation-bar {
  grid-area: footer;
  width: 100%;
  display: flex;
  padding-inline: 16px;
  justify-content: space-between;
  background-color: #fff;
  border-top: 2px solid var(--iui-color-background-border);
}

.demo-mobile-navigation-bar-item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 75px;
  padding-block: 8px 4px;
  align-items: center;
  flex-shrink: 0;
  font-size: $iui-font-size-small;
  cursor: pointer;

  svg {
    fill: currentColor;
    width: 24px;
    height: 24px;
  }

  &.active {
    color: #008be1;

    &::before {
      content: '';
      position: absolute;
      top: -2px;
      width: 70%;
      height: 2px;
      background-color: #008be1;
    }
  }
}
