.demo-header-menu-item-button {
  button {
    height: 55px !important;
  }

  > div:first-child {
    flex-grow: 1;

    > button {
      flex-grow: 1;
      justify-content: flex-start;
      --_iui-button-active-stripe-inset: unset;
    }
  }

  .demo-menu-item-button-title {
    text-align: left;
  }

  .iui-description {
    height: 22px;
    opacity: 0.6;
  }
}
