.iui-layouts-grid {
  --_iui-grid-item-min-width: 288px;

  /* autoprefixer grid: no-autoplace */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(Min(100%, var(--_iui-grid-item-min-width)), 1fr));
  grid-gap: 22px 24px;
  grid-row: auto;

  > * {
    width: 100%;
  }
}
